<div class=" w-full">
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      
        
      <div class="d-flex flex-column"> 
        <div class="flex">
          <%= render @project %>
        </div>
        
        <div class="flex align-center gap-2"> 
            <%= render_button("Edit this project",
                              text: nil,
                              variant: :outline,
                              as: :link,
                              href: edit_project_path(@project)) %>
            <%= render_button("Delete project",
                              variant: :destructive,
                              as: :button,
                              href: @project,
                              method: :delete,
                              data: { "turbo-method": :delete, "turbo-confirm": "Are you sure you want delete this project?" }) %>
           
        </div>
      </div>


      

      <div>
      
      <% if @tasks.present? %>
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl mb-3 mt-5">Tasks for this project</h1>
        <%= render_button("New task",
                          text: nil,
                          variant: :outline,
                          as: :link,
                          href: new_project_task_path(@project)) %>

        
      </div>

          <%= render_table do %>
            <%= table_head do %>
              <%= table_header "Name" %>
              <%= table_header "Description" %>
              <%= table_header "Status" %>
              <%= table_header "Actions" %>
            <% end %>
            <%= table_body do %>
              <% @tasks.each do |task| %>
                <%= render partial: "/tasks/task_table_row", locals: { project: @project, task: task } %>
              <% end %>
            <% end %>
          <% end %>
            <% else %>
            <h2 class="font-bold text-3xl mt-5">There are no tasks for this project</h2>
            <p>Create a task</p>
            <%= render_button("New task",
                              text: nil,
                              variant: :outline,
                              as: :link,
                              href: new_project_task_path(@project, @task)) %>

      <% end %>
      </div>
  </div>
</div>
